body {
  background-color: darksalmon;
}
#game #canvas {
  background-color: lightblue;
  margin-left: 380px;
}
#login {
  text-align: center;
  margin: 120px;
}
strong {
  color: darkmagenta;
}
@media all and (max-width: 1024px) {
  #game #canvas {
    margin-left: 5px;
    width: auto;
    height: auto;
  }
  #login {
    margin: auto;
  }
}
